Website/318961299YUVAL/318961299/YuvasProject/App_WebReferences/localhostWebService/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactsByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IDmy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactsByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactsByIDResult" type="tns:ContactDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ContactDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="userPhoneBelong" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userDetails" type="tns:UserDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnterToSite">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userDetails" type="tns:UserDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnterToSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnterToSiteResult" type="tns:UserDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="userDetails">
        <s:complexType />
      </s:element>
      <s:element name="userDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userDetailsResult" type="tns:UserDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:UserDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFriendsAndContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:UserDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFriendsAndContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFriendsAndContactsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IfContactExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contactDetais" type="tns:ContactDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IfContactExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IfContactExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindFriends">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindFriendsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindFriendsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertFriend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="friendDetais" type="tns:FriendDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FriendDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="phoneIDAsking" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phoneIDAccepting" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="dateOfFriendship" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="status" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertFriendResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactsByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactsByID" />
  </wsdl:message>
  <wsdl:message name="GetContactsByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="InsertUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="EnterToSiteSoapIn">
    <wsdl:part name="parameters" element="tns:EnterToSite" />
  </wsdl:message>
  <wsdl:message name="EnterToSiteSoapOut">
    <wsdl:part name="parameters" element="tns:EnterToSiteResponse" />
  </wsdl:message>
  <wsdl:message name="userDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:userDetails" />
  </wsdl:message>
  <wsdl:message name="userDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:userDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactsSoapIn">
    <wsdl:part name="parameters" element="tns:GetContacts" />
  </wsdl:message>
  <wsdl:message name="GetContactsSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFriendsAndContactsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFriendsAndContacts" />
  </wsdl:message>
  <wsdl:message name="GetFriendsAndContactsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFriendsAndContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IfContactExistSoapIn">
    <wsdl:part name="parameters" element="tns:IfContactExist" />
  </wsdl:message>
  <wsdl:message name="IfContactExistSoapOut">
    <wsdl:part name="parameters" element="tns:IfContactExistResponse" />
  </wsdl:message>
  <wsdl:message name="FindFriendsSoapIn">
    <wsdl:part name="parameters" element="tns:FindFriends" />
  </wsdl:message>
  <wsdl:message name="FindFriendsSoapOut">
    <wsdl:part name="parameters" element="tns:FindFriendsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertFriendSoapIn">
    <wsdl:part name="parameters" element="tns:InsertFriend" />
  </wsdl:message>
  <wsdl:message name="InsertFriendSoapOut">
    <wsdl:part name="parameters" element="tns:InsertFriendResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactsByID">
      <wsdl:input message="tns:GetContactsByIDSoapIn" />
      <wsdl:output message="tns:GetContactsByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input message="tns:InsertUserSoapIn" />
      <wsdl:output message="tns:InsertUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnterToSite">
      <wsdl:input message="tns:EnterToSiteSoapIn" />
      <wsdl:output message="tns:EnterToSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="userDetails">
      <wsdl:input message="tns:userDetailsSoapIn" />
      <wsdl:output message="tns:userDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <wsdl:input message="tns:GetContactsSoapIn" />
      <wsdl:output message="tns:GetContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendsAndContacts">
      <wsdl:input message="tns:GetFriendsAndContactsSoapIn" />
      <wsdl:output message="tns:GetFriendsAndContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IfContactExist">
      <wsdl:input message="tns:IfContactExistSoapIn" />
      <wsdl:output message="tns:IfContactExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindFriends">
      <wsdl:input message="tns:FindFriendsSoapIn" />
      <wsdl:output message="tns:FindFriendsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertFriend">
      <wsdl:input message="tns:InsertFriendSoapIn" />
      <wsdl:output message="tns:InsertFriendSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactsByID">
      <soap:operation soapAction="http://tempuri.org/GetContactsByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnterToSite">
      <soap:operation soapAction="http://tempuri.org/EnterToSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userDetails">
      <soap:operation soapAction="http://tempuri.org/userDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <soap:operation soapAction="http://tempuri.org/GetContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsAndContacts">
      <soap:operation soapAction="http://tempuri.org/GetFriendsAndContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IfContactExist">
      <soap:operation soapAction="http://tempuri.org/IfContactExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindFriends">
      <soap:operation soapAction="http://tempuri.org/FindFriends" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFriend">
      <soap:operation soapAction="http://tempuri.org/InsertFriend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactsByID">
      <soap12:operation soapAction="http://tempuri.org/GetContactsByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap12:operation soapAction="http://tempuri.org/InsertUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnterToSite">
      <soap12:operation soapAction="http://tempuri.org/EnterToSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userDetails">
      <soap12:operation soapAction="http://tempuri.org/userDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <soap12:operation soapAction="http://tempuri.org/GetContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendsAndContacts">
      <soap12:operation soapAction="http://tempuri.org/GetFriendsAndContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IfContactExist">
      <soap12:operation soapAction="http://tempuri.org/IfContactExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindFriends">
      <soap12:operation soapAction="http://tempuri.org/FindFriends" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFriend">
      <soap12:operation soapAction="http://tempuri.org/InsertFriend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:50208/webservice/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:50208/webservice/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>